<!-- uiHeader:  -->
<div id="app-header" class="app-header white box-shadow">
	<div class="navbar"><a data-toggle="modal" data-target="#aside"
						   class="navbar-item pull-left hidden-lg-up"><i
		class="material-icons"></i></a>
		<div class="navbar-nav pull-left">
			<div class="navbar-item" id="pageTitle">
				<i class="material-icons"></i>
				<span class="h5" id="moduleName"></span>
				<span class="h6 label label-pill label-default hide" id="moduleVersion"></span>
			</div>
		</div>
		<div class="collapse navbar-toggleable-sm pull-right" id="collapse">
			<div
				class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m ng-pristine ng-valid ng-scope"
				role="search">
				<div class="form-group l-h m-a-0">
					<div id="moduleSearchContainer" class="input-group input-group-sm">
						<input type="text" id="moduleSearch" class="form-control p-x b-a" placeholder="Search modules..."></div>
				</div>
			</div>
		</div>
		<div class="navbar-nav pull-right">
			<div class="navbar-item">
				<a id="moduleHomepage" href="#" target="_blank" class="hide" rel="noopener noreferrer"><img src="/images/github.png" class="w-32" alt="github" title="Visit module homepage"/></a>
			</div>
		</div>
		<div class="navbar-nav pull-right">
			<div class="navbar-item" id="moduleContributors"></div>
		</div>
	</div>
</div>
