<!-- FLATKIT -->
<!-- NOTE: Flatkit uses its own template engine to fill "ui-includes". Most of this functionality is not needed and commented out -->
<!-- Carefully review and remove more dependencies -->
<!-- <script src="/scripts/flatkit/config.lazyload.js"></script> -->
<!-- <script src="/scripts/flatkit/palette.js"></script> -->
<!-- <script src="/scripts/flatkit/ui-load.js"></script>  -->
<!-- <script src="/scripts/flatkit/ui-jp.js"></script> -->
<!-- <script src="/scripts/flatkit/ui-include.js"></script> -->
<script src="/scripts/flatkit/ui-device.js"></script>
<!--<script src="/scripts/flatkit/ui-form.js"></script>-->
<script src="/scripts/flatkit/ui-nav.js"></script>
<!--<script src="/scripts/flatkit/ui-screenfull.js"></script>-->
<script src="/scripts/flatkit/ui-scroll-to.js"></script>
<!--<script src="/scripts/flatkit/ui-toggle-class.js"></script>-->
<!-- <script src="/scripts/flatkit/app.js"></script> -->
<!-- ajax -->
<!--
<script src="/scripts/jquery/jquery-pjax/jquery.pjax.js"></script>
<script src="/scripts/flatkit/ajax.js"></script>
-->
