.pagination,
.pager{
  > li{
    > a,
    > span{
      color: inherit !important;
      background-color: transparent !important;
      border-color: $border-color !important;
      &:hover,
      &:focus{
        border-color: $border-color;
        background-color: $min-black;
        color: inherit;
      }
    }
  }
  > .active > a,
  > .active > span{
    color: $full-white !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
}
