{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": false,
        "es6": true,
        "browser": true,
        "amd": true
    },
    "globals": {
        "nodejs-app": false,
        "$": false
    }
}
